albumentations
torchvision
torch
catalyst
scikit-learn
affine==2.2.2
attrs==19.1.0
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
Fiona==1.8.6
geopandas==0.5.0
imageio==2.5.0
munch==2.3.2
numpy==1.16.3
opencv-python==4.1.0.25
pandas==0.24.2
Pillow==6.0.0
pyparsing==2.4.0
pyproj==2.1.3
python-dateutil==2.8.0
pytz==2019.1
rasterio==1.0.22
Rtree==0.8.3
Shapely==1.6.4.post2
six==1.12.0
snuggs==1.4.3
tqdm==4.31.1
absl-py==0.7.1
astor==0.8.0
backcall==0.1.0
bleach==3.1.0
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mistune==0.8.4
mock==3.0.5
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
notebook==5.7.8
pandocfilters==1.4.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
Pygments==2.4.0
pyrsistent==0.15.2
PyWavelets==1.0.3
pyzmq==18.0.1
qtconsole==4.4.4
scikit-image==0.15.0
scipy==1.3.0
Send2Trash==1.5.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.2
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.4.2