.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  flex: 1 0 auto;
  width: 337px;
  background-color: inherit;
  z-index: 100;
}

.sidebar-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 15px 33px 30px;
}

.sidebar-body {
  height: 100vh;
  padding: 0 33px;
  overflow-y: auto;
  
}

.sidebar .calendar_wrapper {
  margin-top: 100px;
}

.sidebar .custom-legend {
  margin-top: 50px;
}

.sidebar .menu {
  margin-top: 50px;
}

.sidebar .switch {
  margin-left: 30px;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    max-width: 300px;
  }

  .sidebar-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: inherit;
    padding-bottom: 15px;
    z-index: 90;
  }

  .sidebar .logo svg {
    width: 120px;
  }

  .sidebar-body {
    padding: 98px 23px 30px;
  }
}
