.App {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #202020;
  height: 100%;
  color: #fff;
}
.map_holder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.mapboxgl-popup-content {
  background-color: #343434;
  padding: 20px 10px 10px 10px;
  border: 2px solid white;
}

.mapboxgl-popup-close-button {
  color: ghostwhite;
}

.tooltip {
  padding: 0;
}
