db_stage:
  image: clearcut_detection/postgis
  expose:
    - 5432
  ports:
    - "5433:5432"
  env_file:
    - db.env
  volumes:
    - ./db-data_stage/data:/var/lib/postgresql/data
    - ./:/code

model_stage_2:
  image: clearcut_detection/model2
  env_file:
    - ./model2/model.env
    - ./model2/db.env
  volumes:
    - ./model2/:/model
    - ./data/:/model/data
  working_dir: /model
  environment:
    - DB_HOST=db_stage
    - CUDA_VISIBLE_DEVICES=0
  links:
    - "rabbitmq"
    - "db_stage"
  command: /bin/bash -c "./run_predict.sh"  # todo

react_stage:
  image: node:10.15.0
  volumes:
    - ./frontend:/frontend
  working_dir: /frontend
  ports:
    - "3001:3000"
  links: 
    - "django_stage"
  command: /bin/bash -c "npm install && npm run-script build"

django_stage:
  image: clearcut_detection/backend
  env_file:
    - db.env
    - django.env
  environment:
    - DJANGO_SETTINGS_MODULE=clearcut_detection_backend.prod_settings
    - DB_HOST=db_stage
    - SENTINEL_DOWNLOAD=false  # prevent requesting to sentinel
    - DOWNLOAD_IMG=false  # skip downloading images if SENTINEL_DOWNLOAD=true
    - PREPARE_TIF=false  # skip preprocessing images
    - CONVERT_TO_TIFF=false  # skip converting to tiff for uploading
    - UPLOAD_TO_MAPBOX=false  # skip uploading to mapbox server
  volumes:
    - ./:/code
  working_dir: /code
  links:
    - "db_stage"
#    - "model_stage"
    - "model_stage_2"
    - "rabbitmq"
  expose:
    - 9000
  ports:
    - "9001:9000"
  command: /bin/bash -c "exec invoke runbackend"

nginx_stage:
  image: nginx:1.15.8
  links:
    - "django_stage"
  expose:
    - "8082"
  ports:
    - "8082:8082"
  environment:
    - VIRTUAL_HOST=clearcut1.quantumobile.com
    - VIRTUAL_PORT=8082
    - LETSENCRYPT_HOST=clearcut1.quantumobile.com
    - LETSENCRYPT_EMAIL=o.tsiapa@quantumobile.com
  volumes:
    - ./nginx/nginx_stage.conf:/etc/nginx/conf.d/default.conf
    - ./frontend/build:/frontend/build
    - ./db-data_stage/data:/var/lib/postgresql/data

rabbitmq:
  hostname: "rabbitmq"
  labels:
    NAME: "rabbitmq"
  image: "rabbitmq"
  environment:
    RABBITMQ_DEFAULT_USER: "guest"
    RABBITMQ_DEFAULT_PASS: "guest"
    RABBITMQ_DEFAULT_VHOST: "/"
    RABBITMQ_NODE_PORT_NUMBER: "5672"
    RABBITMQ_MANAGER_PORT_NUMBER: "15672"
  expose:
    - 15672
    - 5672
  restart: always

