db:
  build: ./
  dockerfile: postgis.Dockerfile
  expose:
    - 5432
  env_file:
    - db.env
  volumes:
    - db-data:/var/lib/postgresql/data
    - ./:/code

model:
  build: ./model
  dockerfile: model.Dockerfile
  env_file:
    - ./model/model.env
  volumes:
    - ./model/:/model
    - ./data/:/model/data
  working_dir: /model
  ports:
    - "5000:5000"
  command: /bin/bash -c "pip3 install -r requirements.txt && python3 app.py"

react:
  image: node:10.15.0
  volumes:
    - ./frontend:/frontend
  working_dir: /frontend
  ports:
    - "3000:3000"
  links: 
    - "django"
  command: /bin/bash -c "npm install && npm run-script build"

django:
  build: ./
  dockerfile: django.Dockerfile
  environment:
    - DJANGO_SETTINGS_MODULE=clearcut_detection_backend.prod_settings
  env_file:
    - django.env
  volumes:
    - ./:/code
  working_dir: /code
  links:
    - "db"
    - "model"
  expose:
    - 9000
  command: /bin/bash -c "pip install -r requirements.txt && exec invoke runbackend"

nginx:
  image: nginx:1.15.8
  links:
    - "django"
  expose:
    - "8080"
  environment:
    - VIRTUAL_HOST=clearcut.quantumobile.com
    - VIRTUAL_PORT=8080
    - LETSENCRYPT_HOST=clearcut.quantumobile.com
    - LETSENCRYPT_EMAIL=o.tsiapa@quantumobile.com
  volumes:
    - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    - ./frontend/build:/frontend/build

