version: "3"
services:
  db:
    build:
      context: ./
      dockerfile: postgis.Dockerfile
    image: clearcut_detection/database
    expose:
      - 5432
    env_file:
      - db.env
    volumes:
      - ./:/code

  model:
    build:
      context: ./model
      dockerfile: model.Dockerfile
    image: clearcut_detection/model
    env_file:
      - ./model/model.env
    volumes:
      - ./model/:/model
      - ./data/:/model/data
    working_dir: /model
    ports:
      - "5000:5000"
    command: /bin/bash -c "pip install -r requirements.txt && python app.py"

  react:
    image: node:10.15.0
    volumes:
      - ./frontend:/frontend
    working_dir: /frontend
    ports:
      - "3000:3000"
    depends_on:
      - django
    command: /bin/bash -c "npm install && npm run-script build"

  django:
    build:
      context: ./
      dockerfile: django.Dockerfile
    image: clearcut_detection/backend
    environment:
      - DJANGO_SETTINGS_MODULE=clearcut_detection_backend.prod_settings
    env_file:
      - django.env
    volumes:
      - ./:/code
    working_dir: /code
    depends_on:
      - db
    expose:
      - 9000
    command: /bin/bash -c "pip install -r requirements.txt && exec invoke runbackend"

  nginx:
    image: nginx:1.15.8
    depends_on:
      - django
    ports:
      - "8080:80"
    environment:
      - VIRTUAL_HOST=clearcut.quantumobile.com
      - VIRTUAL_PORT=8080
      - LETSENCRYPT_HOST=clearcut.quantumobile.com
      - LETSENCRYPT_EMAIL=i.lukinov@quantumobile.com
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/build:/frontend/build
