[config]
location
auth=##SET ME PLEASE## Login for https://peps.cnes.fr
password=##SET ME PLEASE## Password for https://peps.cnes.fr
sentinel_id=##SET ME PLEASE## sentinel-hub ID, you could obtain it here https://apps.sentinel-hub.com
write_dir=data
collection=S2ST
product_type=S2MSI2A
sensor_mode=
no_download=False
start_date=2019-06-01
end_date=2019-09-01
tile=T36UYA
lat
lon
latmin=49
latmax=51
lonmin=36.15
lonmax=38
orbit
search_json_file=data/search.json
windows=False
clouds=5
satellite
