Django==2.2.3
django-cors-headers==3.0.2
django-rest-swagger==2.2.0
djangorestframework==3.10.1
geopandas==0.5.1
google-api-python-client==1.7.4
google-api-core==1.14.3
google-auth==1.7.1
google-cloud-core==1.0.3
google-cloud-storage==1.23.0
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
gsutil==4.47
imageio==2.5.0
invoke==1.2.0
numpy==1.16.4
oauth2client==4.1.2
pandas==0.24.2
Pillow==6.1.0
psycopg2-binary==2.8.3
pyproj==2.2.1
PyYAML==5.1.1
rasterio==1.1.2
rio-mbtiles==1.4.2
sentinelhub==2.5.3
Shapely==1.6.4.post2
six==1.12.0
tqdm==4.19.9
uWSGI==2.0.15